.card{
    border-radius: 10px;
    box-shadow:0px 5px 20px rgb(71,71,71);
    margin:40px;
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    align-items:center;
    align-content:center;
    min-width: 20%;
}
.image{
    border-radius:10%;
    width:100px;
    height:100px;
}
.div1{
    
    border-radius: 10px;
    box-shadow:10px 5px 20px rgb(75,75,75);
    margin:30px;
    display:flex;
    flex-direction:column ;
    justify-content: space-between;
    background: white;
    align-items:center;
    min-width: 30%;
}
.cards{
     background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
      }
